html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, input {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

table {
  width: 100%;
  border: 1px solid rgb(207, 231, 228);
}

th, td {
  max-width: 50%;
  padding: 1em;
  border: 1px solid rgb(227, 251, 248);
}

.container {
  margin: auto;
  max-width: 700px;
}

.username {
  padding: 1em;
  background-color: rgb(217, 241, 238);
  border: 1px solid rgb(207, 231, 228);
}

.username label {
  display: block;
}

.username input {
  width: 100%;
  font-size: 4em;
  background-color: rgb(227, 251, 248);
  border: 1px solid rgb(207, 231, 228);
}

.choice {
  display: block;
}

.choice input {
  margin-right: 1em;
}

.submit {
  font-size: 3em;
  width: 100%;
  background-color: rgb(217, 241, 238);
  border: 1px solid rgb(207, 231, 228);
}

.submit:active {
  background-color: rgb(227, 251, 248);
}
